
.login-page{
    position: relative;
    justify-content: center;
    width: 33%;
    left:33%;      
    margin-top: 10%;
    border-style: solid;
    border-color: black;
    padding-bottom: 50px;
    border-width: 2px;
    border-top-width: 0;
    border-radius: 16px;
}

.login-title{
    border-radius: 16px;
    
    margin-top: 0;
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
   
}

.form{
    
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
}





