.navbar{
    display: flex;
    background-color: black;
    padding:10px;
    padding-left: 10px;
    color:'white';
    position: relative;
    justify-content: center;
}

.list{
    color: white;
    display: flex;
    list-style: none;
    padding-right: 20px;
    position: absolute;
    right: 0;
    margin-bottom: 0;
    margin-top: 0;
}

.list-items{
    padding-top: 5px;
    margin:5px;
    padding-left: 5px;
    font-size: 1.25em;
}

.logo{
    margin-left: 10px;
    
    display: flex;
    position: absolute;
    left:0;
}

.navbar-title{
    
    margin:0;
    color: white;
}

.search-bar{
    position: relative;
    display: flex;
    width:40%;
    margin-right: 5px;
}

#search-input{
    flex-grow: 1;
    border-radius: 10px;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dropdown{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    background-color: #D6C6F4;
    right: 0;
    margin-top: 50px;
    margin-right: 5px;
    border-radius: 5px;
}

.triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #D6C6F4; /* You can change the color as needed */
    right:0;
    margin-top: 43px;
    margin-right: 30px;

  }

::placeholder{
    padding-left: 5px;
}


