
.register-page{
    position: relative;
    justify-content: center;
    width: 33%;
    left:33%;      
    margin-top: 7%;
    margin-bottom: 2%;
    border-style: solid;
    border-color: black;
    padding-bottom: 50px;
    border-width: 2px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
}

.register-title{
    margin-top: 0;
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
}

.form{
    
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
}

body{
    margin: 0;
}